/*body{
	min-width: 720px;
}*/

/*html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;    
}*/

#right1 {
	text-align: right;
}

#animation1 {
	  padding-left: 55px;
	  font-family: Roboto, sans-serif;
	  text-align: left; list-style: none;
	  animation: 8s linear 0s normal none infinite change;
	  -webkit-animation: 8s linear 0s normal none infinite change;
	  -moz-animation: 8s linear 0s normal none infinite change;
	  -o-animation: 8s linear 0s normal none infinite change;
	}

	.content:before {
			  content: '['; position: relative;
			  font-weight: 100;
			  color: white;
			  left: -340px; line-height: 40px;
			  top: 0px;
			  font-family: Roboto, sans-serif;
		}
		.content:after {
			  content: ']'; position: relative;
			  font-weight: 100;
			  color: white;
			  right: 10px; line-height: 40px;
			  top: 0px;
			  font-family: Roboto, sans-serif;
		}

	.container1 {
		min-width: 700px;
	}
	
	.visible {
	  float: left; font-weight: 100;
	  overflow: hidden; height: 40px;
	  font-family: Roboto, sans-serif;
	}

	p {
	  display: inline; float: left;
	  margin: 0;
	}
	
		#myImage {
			/*background-image:url("gradPic2.png");*/
			background-image:url("CompressedV.png");
			height:300px;
			width:200px;
			/*float:left;*/
			/*float: left;
			position:relative;*/
			/*left: 20px;*/
		}

		@media only screen and (max-width: 900px)
		{
			
				[class*="myImage"]
				{
					 float: right;
					 position: relative;
					 left: -50%; /* or right 50% */
					 text-align: left;
				}
			
		}

		/*#imagePos {
			float: left;
			position:relative;
			left: 20px;
		}*/
		
		#botContainer {
			background-image:url("gradPic2.png")
			height: 300px;
			width:100%;
			background-size:center-left;
		}
		
		#topRow {
		text-align:center;
		color:black;
		}
		
		#topRow h1 {
		margin-top:250px;
		font-weight: 100;
		font-size: 4.7em;
		line-height: 1em;
		font-family: Roboto, sans-serif;
  	    color: white;
		}

		#topRow h2 {
		margin-top:250px;
		font-weight: 100;
		font-size: 4.0em;
		line-height: 1em;
		font-family: Roboto, sans-serif;
  	    color: white;
		}

		#topRow h3 {
		margin-top:0px;
		font-weight: 100;
		font-size: 5.9em;
		line-height: 1.35em;
		font-family: Roboto, sans-serif;
  	    color: #8A4A4A;
		}

		#topRow2 {
		margin-top:10px;
		text-align:center;
		color:black;
		}

		#topRow2 h1 {
		font-weight: 100;
		font-size: 5.3em;
		line-height: 1.2em;
		font-family: Roboto, sans-serif;
		color: black;
		}

		#topRow3 {
		text-align:center;
		color:white;
		}

		#topRow3 h1 {
		margin-top:30px;
		font-weight: 100;
		font-size: 3.5em;
		line-height: 1.2em;
		font-family: Roboto, sans-serif;
		color: white;
		}

		#topRow3 h2 {
		margin-top:10px;
		font-weight: 100;
		font-size: 3.5em;
		line-height: 1.2em;
		font-family: Roboto, sans-serif;
		color: white;
		}

		#topRow3 li {
		margin-top: 30px;
		font-weight: 100;
		font-size: 2.1em;
		line-height: 1.2em;
		font-family: Roboto, sans-serif;
		color: white;
		}
.parallax1{
    background-image: linear-gradient(
			      rgba(0, 0, 0, 0.55), 
			      rgba(0, 0, 0, 0.55)
			    ), url("Signature07.jpg");
    height: 100%; 
    max-width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.brightness {
    filter: brightness(40%);
}


.navbar-brand {
			font-size:1.8em;
			}
			
		.myImage {
			 width: 200px;
		    height: 230px;
		    border: 1px solid white;
		    border-radius: 60px;
		    background-image: url('ProfilePic.jpg');
		    background-size: 200px;   
		    background-repeat: no-repeat;
		    background-position: 50%;
		}

		@media all and (max-width: 1024px) { /* Specific to this particular image */
		  .topContainer {
		    height:200%;
		    width:100%;   /* 50% */
		    background-size:cover;
		  }
		}

		.topContainer {
			height:650px;
			min-width: 50%;
			max-width:100%;
			background-color:#154037;
			background-size:cover;
			
		}

		@media only screen and (max-width: 1425px)
		{
			
				[class*="topContainer"]
				{
					height:950px;
				}
			
		}

		@media only screen and (max-width: 1150px)
		{
			
				[class*="topContainer"]
				{
					height:1050px;
				}
			
		}

		@media only screen and (max-width: 850px)
		{
			
				[class*="topContainer"]
				{
					height:1100px;
				}
			
		}

		@media only screen and (max-width: 762px)
		{
			
				[class*="topContainer"]
				{
					height:1000px;
				}
			
		}

		@media only screen and (max-width: 722px)
		{
			
				[class*="topContainer"]
				{
					height:1100px;
				}
			
		}

		@media only screen and (max-width: 500px)
		{
			
				[class*="topContainer"]
				{
					height:1300px;
				}
			
		}

	.fstPage {
			background-image:
			    linear-gradient(
			      rgba(0, 0, 0, 0), 
			      rgba(0, 0, 0, 0.3)
			    ), url("cali.jpeg");
			height: 700px;
			width:100%;
			background-size:cover;
		}

		@media only screen and (max-width: 997px)
		{
			
				[class*="fstPage"]
				{
					height:1500px;
				}
			
		}

	.sixthPage {
		        background-image:
			linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),url("cali.webp");
			height: 1000px;
			width:100%;
			background-size:cover;
		}

		@media only screen and (max-width: 997px)
		{
			
				[class*="sixthPage"]
				{
					height:2150px;
				}
			
		}

		.internships {
			background-image:url("cali.webp");
			height: 100%;
			width:100%;
			background-size:cover;
		}

		.front {
			background-image:/* top, transparent black, faked with gradient */ 
			    linear-gradient(
			      rgba(0, 0, 0, 0.55), 
			      rgba(0, 0, 0, 0.55)
			    ), url("Seattle.JPG");
			height:800px;
			width:100%;
			background-size:cover;
		}

		.Upthere {
			background-image:/* top, transparent black, faked with gradient */ 
			    linear-gradient(
			      rgba(0, 0, 0, 0.75), 
			      rgba(0, 0, 0, 0.75)
			    ), url("UpthereHome.png");
			height:800px;
			width:100%;
			background-size:cover;
		}

		.Buffer {
			background-color: #E7B892;
			height:110px;
			width:100%;
			background-size:cover;
		}


		@media only screen and (max-width: 768px)
		{
			
				[class*="thirdPage"]
				{
					height:1400px;
				}
			
		}

	
		#emailSignup {
			margin-top:50px;
			}
		
		.bold {
			font-weight:bold;
		}
		.italic {
			font-style:italic;
		}
		
		.paddingTop{
			margin-top:20px;
		}

		.paddingTop2{
			margin-top:60px;
		}

		.paddingTop3{
			margin-top:40px;
		}

		.paddingBottom {
			margin-bottom: 50px;
		}
		
		#wrap .col {
			float:left;
		}
		
		.center{
		text-align:center;
		}
		
		.title {
			margin-top:100px;
			font-size:300%;
			}

		.title2 {
			margin-top:80px;
			margin-left:30px;
			position:relative;
			left: 30px;
			font-size:4.0em;
			font-weight: 100;
			font-family: Roboto, sans-serif;
			}

		@media only screen and (max-width: 1400px)
		{
			
			[class*="title2"]
			{
				margin-top:45px;
			}
			
		}

		@media only screen and (max-width: 1200px)
		{
			
			[class*="title2"]
			{
				margin-top:55px;
			}
			
		}

		@media only screen and (max-width: 800px)
		{
			
			[class*="title2"]
			{
				margin-top:40px;
			}
			
		}

		@media only screen and (max-width: 685px)
		{
			
			[class*="title2"]
			{
				margin-top:25px;
			}
			
		}
			
		#footer {
			background-color:#B0D1FB;
			width:100%;
		}
		
		#foot {
		clear: left;
		}
		
		.marginBottom{
			margin-bottom:30px;
		}

		.moveUp {
			position: relative;
			bottom: 60px;
		}

		.moveUp2 {
			position: relative;
			bottom: 45px;
		}
		
		.LImage{
		width:250px;
		height:300 px;}
		
		.border
		{
		border-style:solid;
		border-color:#287EC7;
		background-color:white;
		opacity:0.75;
		<!--border-radius: 50px/40px;-->
		}
		
		#rectangle{
		width:720px;
		height:100px;
		background:blue;
		position:relative;
		bottom: 140px;
		}
		
		.firstPage {
			width: 100%;
			height: 770px;
			background-color: #34495e;
			background-size:cover;
			}
		.content {
			  width: 340px; font-size: 36px; line-height: 40px;
			  font-family: Roboto, sans-serif; color: #ecf0f1; height: 40px;
			  position: relative; top: 60%; left: 50%;
			  top: -20px; margin-left: -145px;
		
		}
		

	ul { margin: 0; 
		padding: 0;
		}

	ul li {
	  padding: 0;
	  line-height: 23px;
	  margin: 0;
		}
		
		 @-webkit-keyframes change {
			  0%   {margin-top:0;} 15%  {margin-top:0;}
			  25%  {margin-top:-40px;} 40%  {margin-top:-40px;}
			  50%  {margin-top:-80px;} 65%  {margin-top:-80px;}
			  75%  {margin-top:-40px;} 85%  {margin-top:-40px;}
			  100% {margin-top:0;}
			}
			
	.btn {
		<button type="button">
		</button>
		
		img {
		max-width: 100%;
		height: auto;
		width: auto;
		}
	}

	.social {
		padding-left: 50px;
		margin: 30px;
		position:relative;
		bottom: 30px;
	}


	.button {
    background-color: #595959; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

	.button1 {
    background: rgba(0,0,0,0.1);
    color: white;
    border: 2px solid #a6a6a6;
	}

	.button1:hover {background: rgba(0,0,0,0.6); 
					background-color: #595959;}

	#fade-wrapper {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
}

.awards {
	color:white;
	font-size:16px;
}

.project {
	color:black;
	font-size:18px;
	line-height:25px;
}

ul.a {
    list-style-type: square;
}

ul  {
 padding-left:0;   
}
ul li  {
 list-style-position:inside
}

